/JsonResponseEnumFormatterApi/bin/Debug
/JsonResponseEnumFormatterApi/obj/Debug
/JsonResponseEnumFormatterApi/packages/Microsoft.AspNet.WebApi.Client.5.2.3
/JsonResponseEnumFormatterApi/packages/Microsoft.AspNet.WebApi.Core.5.2.3/Content
/JsonResponseEnumFormatterApi/packages/Microsoft.AspNet.WebApi.Core.5.2.3/*.nupkg
/JsonResponseEnumFormatterApi/packages/Microsoft.AspNet.WebApi.Core.5.2.3/lib/net45/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/*.nupkg
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/net20/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/net35/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/net40/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/net45/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/netcore45/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/portable-net40+sl5+wp80+win8+wpa81/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/lib/portable-net45+wp80+win8+wpa81/*.xml
/JsonResponseEnumFormatterApi/packages/Newtonsoft.Json.6.0.4/tools/*.ps1
/JsonResponseEnumFormatterApiTest/bin/Debug/*.xml
/JsonResponseEnumFormatterApiTest/obj/Debug/*.txt
/JsonResponseEnumFormatterApiTest/obj/Debug/*.cs
